*.log
*.jou
*.Xil
*.swp

common/build
common/target
common/project/target
common/lib
common/Makefrag.pkgs

zedboard/zedboard_rocketchip_*
zedboard/src/tcl/zedboard_rocketchip_*.tcl
zedboard/src/tcl/make_bitstream_*.tcl
zedboard/src/verilog/rocketchip_wrapper.v
zedboard/src/verilog/Top.*.v
zedboard/src/verilog/AsyncResetReg.v
zedboard/src/verilog/plusarg_reader.v
zedboard/deliver_output
zedboard/soft_build

